@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
    --color-brand:#FFBE1A;
    --color-primary:#353535;
    --color-secondary: #AFAFAF;
    --color-back-secondary: #FAFAFA;
    --color-box-border: #ECECEC;
}

body {
  font-family: "Outfit", sans-serif;
}
