@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
    --color-brand:#FFBE1A;
    --color-primary:#353535;
    --color-secondary: #AFAFAF;
    --color-back-secondary: #FAFAFA;
    --color-box-border: #ECECEC;
    --color-app-orange:#FF8D28;
}

body {
  font-family: "Outfit", sans-serif;
}

.maplibregl-ctrl-bottom-right, .maplibregl-ctrl-top-right{
    display: none;
}
