@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
    --color-brand:#FFBE1A;
    --color-primary:#353535;
    --color-secondary: #AFAFAF;
    --color-back-secondary: #FAFAFA;
    --color-box-border: #ECECEC;
    --color-app-orange:#FF8D28;
    --text-xss:10px;
    --text-es:8px;
}

body {
  font-family: "Outfit", sans-serif;
}

.maplibregl-ctrl-bottom-right{
    display: none;
}

.remove-scrollbar::-webkit-scrollbar {
    display: none;
}

.remove-scrollbar {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none;    /* Firefox */
}
